.formContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 80%;
	max-width: 600px;
}

.formEmailAndName {
	padding: 0.5rem;
	font-size: 1.2rem;
}

.formMessage {
	padding: 0.5rem;
	font-size: 1.2rem;
	min-height: 20vh;
	font-family: "Inter", sans-serif;
}

.submitButton {
	width: 17ch;
	z-index: 0;
}

.label {
	font-weight: 700;
}
