@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap');

#__next {
	background-repeat: repeat;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Rubik';
	background-color: var(--primary-white);
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	opacity: 100%;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--primary-black);
	margin: 0;
}

:root {
	--primary-black: #2c2c2c;
	--primary-white: white;
	--primary-sky-blue: #87ceff;
	--primary-padding: 1rem;
	--larger-padding: 0.8rem;
	--large-font-size: 2.3rem;
	--small-font-size: 1rem;
	--box-shadow-standard: 5px 5px 5px var(--primary-black);
	/* Doesn't actually work but for a quick reference */
	--large-media-query: 920px;
}

/*
##############################################
THIS IS FOR THE NAVBAR
############################################## 
 */

.Navbar {
	padding: var(--primary-padding);
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 7vh;
	min-width: 100vw;
	box-shadow: 1px 1px 6px var(--primary-black);
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--primary-white);
	opacity: 92%;
}

.Navbar-title {
	font-family: 'Rubik';
	font-weight: 800;
	font-size: var(--large-font-size);
	color: var(--primary-black);
}

.Navbar-link {
	font-family: 'Karla';
	font-weight: 200;
	font-size: var(--small-font-size);
	cursor: pointer;
	text-align: center;
	margin: 0;
	animation: 0.5s hoverLinkReverse;
}
.Navbar-link:hover {
	animation: 0.5s hoverLink forwards;
}

@keyframes hoverLink {
	from {
	}
	to {
		font-weight: 800;
		font-family: 'Rubik';
		font-size: 1.2rem;
		color: var(--primary-sky-blue);
	}
}

@keyframes hoverLinkReverse {
	from {
		font-weight: 800;
		font-family: 'Rubik';
		font-size: 1.2rem;
		color: var(--primary-sky-blue);
	}
	to {
	}
}

/* For responsive navbar */
.Navbar-Menu-Dropdown-Button {
	cursor: pointer;
}

.Navbar-Menu-Dropdown-Button:hover {
	animation: 0.5s hoverLink forwards;
}

.Navbar-Menu-Dropdown-Container {
	position: absolute;
	width: 300px;
	top: 44px;
	transform: translateX(-90%);
	background-color: var(--primary-white);
	border: var(--primary-black) 2px solid;
	border-radius: var(--primary-padding);
	padding: 1rem;
	box-shadow: var(--box-shadow-standard);
	/*  */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.Navbar-Menu-Dropdown-Super-Container {
	display: none;
}

.Navbar-links {
	display: flex;
	justify-content: space-around;
	min-width: 30vw;
}

@media (max-width: 920px) {
	.Navbar-links {
		display: none;
	}
	.Navbar-Menu-Dropdown-Super-Container {
		display: block;
	}
}

/*
##############################################
THIS IS FOR THE MAIN PAGE AND ITS PARTS
############################################## 
 */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.main-whole-page-container {
	max-width: 1280px;
}
.main-page-section-container {
	min-width: 100%;
	min-height: 50vh;
	display: flex;
	padding: 1rem 2rem;
	justify-content: space-around;
	align-items: center;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

#firstMainPageBlock {
	margin-top: 10vh;
}

#secondMainPageBlock {
	flex-direction: row-reverse;
}

.main-page-image {
	width: 40vw;
}

@media (max-width: 920px) {
	.main-page-image {
		width: 65%;
	}
	.main-page-section-container {
		flex-direction: column;
	}
	#secondMainPageBlock {
		flex-direction: column;
	}
	.main-page-container {
		flex-direction: column;
		align-items: center;
	}
	.main-cards-container {
		flex-direction: column;
		gap: 1rem;
	}
	.main-page-right-side-container {
		padding: 1rem !important;
	}
	.main-card {
		width: 70% !important;
		min-height: 25vh;
	}
	.main-page-partnership-container {
		flex-direction: column !important;
		align-items: center;
	}
	.main-right-side-long-text {
	}
}
.main-page-left-side-container {
	min-width: 50%;
	max-width: 90%;
}

.main-page-left-side-container {
	min-height: 42vh;
	display: grid;
	place-items: center;
}

.main-page-right-side-container {
	min-width: 50%;
	max-width: 90%;
	min-height: 42vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--primary-padding);
	padding-left: 4rem;
}

.main-right-side-long-text {
	font-family: 'Rubik';
	font-weight: 800;
	color: var(--primary-black);
	font-size: var(--large-font-size);
	/* width: 20ch; */
}

.main-right-light-text {
	/* width: 51ch; */
	font-family: 'Karla';
	font-weight: 200;
	font-size: var(--small-font-size);
	margin-top: var(--primary-padding);
}

.main-right-donate-button {
	padding: var(--primary-padding);
	color: var(--primary-black);
	border: 1px solid var(--primary-black);
	background-color: var(--primary-white);
	margin-top: var(--primary-padding);
	max-width: 8rem;
	font-family: 'Karla';
	font-weight: 400;
	font-size: var(--small-font-size);
	border-radius: var(--primary-padding);
	box-shadow: var(--box-shadow-standard);
	animation: buttonGrow 0.5;
}

.main-right-donate-button:hover {
	cursor: pointer;
	animation: buttonGrowReverse 0.5s forwards;
}

@keyframes buttonGrow {
	from {
		color: var(--primary-white);
		background-color: var(--primary-sky-blue);
		border: 1px solid var(--primary-white);
	}
	to {
	}
}

@keyframes buttonGrowReverse {
	from {
	}
	to {
		color: var(--primary-white);
		background-color: var(--primary-sky-blue);
		border: 1px solid var(--primary-white);
	}
}

/*
##############################################
THIS IS FOR THE CARDS UNDERNEITH THE MAIN PAGE
############################################## 
 */

.main-cards-container {
	min-height: 40vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 0;
	animation: 1s ease-out 0s 1 slideInFromRight;
}

.main-card {
	width: 30%;
	min-height: 25vh;
	border: solid 1px var(--primary-black);
	box-shadow: var(--box-shadow-standard);
	padding: var(--primary-padding);
	border-radius: var(--primary-padding);
}

.main-card-title {
	width: 15ch;
}

.main-card-body {
	height: 10vh;
	display: flex;
	justify-content: center;
}

.main-card-display-number {
	text-align: center;
	font-size: 3rem;
}

.main-card-image-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
